Experimenting with different things here!

In [114]:
a = [1,2,3,4]
b = ['a','b','c']

In [115]:
for x in zip(a,b):
    print(x)

(1, 'a')
(2, 'b')
(3, 'c')

In [116]:
def myfunc(a):
  return len(a)

x = map(myfunc, ('apple', 'banana', 'cherry'))

# print(x)
#convert the map into a list, for readability:
print(list(x))

[5, 6, 6]

In [117]:
def myfunc(a, b):
  return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))

# print(x)
#convert the map into a list, for readability:
print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']

In [118]:
import requests

In [119]:
response = requests.get('https://google.com')

In [120]:
response.status_code

200

In [121]:
# response.content

In [122]:
r = requests.get('https://api.ipify.org')
r.url

'https://api.ipify.org/'

In [123]:
r.content

b'102.89.0.123'

In [124]:
r.text

'102.89.0.123'

In [125]:
r = requests.get('https://api.ipify.org?format=json')
r.content

b'{"ip":"102.89.1.218"}'

In [126]:
my_ip = r.json()
my_ip

{'ip': '102.89.1.218'}

In [127]:
r = requests.get('https://api.ipify.org', params = {'format':'json'})
r.url

'https://api.ipify.org/?format=json'

In [128]:
my_ip

{'ip': '102.89.1.218'}

In [129]:
r = requests.get(f'https://ipapi.co/{my_ip["ip"]}/json/')
r.json()

{'ip': '102.89.1.218',
 'city': 'Lagos',
 'region': 'Lagos',
 'region_code': 'LA',
 'country': 'NG',
 'country_code': 'NG',
 'country_code_iso3': 'NGA',
 'country_capital': 'Abuja',
 'country_tld': '.ng',
 'country_name': 'Nigeria',
 'continent_code': 'AF',
 'in_eu': False,
 'postal': None,
 'latitude': 6.4474,
 'longitude': 3.3903,
 'timezone': 'Africa/Lagos',
 'utc_offset': '+0100',
 'country_calling_code': '+234',
 'currency': 'NGN',
 'currency_name': 'Naira',
 'languages': 'en-NG,ha,yo,ig,ff',
 'country_area': 923768.0,
 'country_population': 154000000.0,
 'asn': 'AS29465',
 'org': 'MTN NIGERIA Communication limited'}

In [130]:
# r = requests.get('http://www.7timer.info/bin/api.pl?lon=113.17&lat=23.09&product=astro&output=json')

url_base ='http://www.7timer.info/bin/api.pl'
params = {'lon':113.17, 'lat':23.09, 'product':'civil', 'output':'json'}
r = requests.get(url_base, params = params)

In [131]:
r.url

'http://www.7timer.info/bin/civil.php?lon=113.2&lat=23.1&ac=0&unit=metric&output=json&tzshift=0'

In [132]:
# r.json()

In [133]:
def get_weather(lon, lat):
    url_base ='http://www.7timer.info/bin/api.pl'
    params = {'lon':lon, 'lat':lat, 'product':'civil', 'output':'json'}
    r = requests.get(url_base, params = params)
    return r.json()

In [134]:
# get_weather(3.3903,6.4474)

In [137]:
import pandas as pd

In [138]:
df = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [139]:
type(df)

list

In [140]:
df_pop = df[5]

In [141]:
df_pop.head()

,Rank,Country / Territory,Population,% of worldpopulation,Date,Source
0,1,China[note 4],1404309800,NaN,6 Sep 2020,[89]
1,2,India,1366857671,NaN,6 Sep 2020,[citation needed]
2,3,United States,330256598,NaN,6 Sep 2020,[90]
3,4,Indonesia,265015300,3.39%,1 July 2018,[91]
4,5,Pakistan,220875520,NaN,6 Sep 2020,[92]

In [142]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  10 non-null     int64
 1   Country / Territory   10 non-null     object
 2   Population            10 non-null     int64
 3   % of worldpopulation  4 non-null      object
 4   Date                  10 non-null     object
 5   Source                10 non-null     object
dtypes: int64(2), object(4)
memory usage: 608.0+ bytes

In [143]:
df_pop['pct_world_population'] = df_pop['% of worldpopulation'].str.replace('%','')

In [144]:
df_pop

,Rank,Country / Territory,Population,% of worldpopulation,Date,Source,pct_world_population
0,1,China[note 4],1404309800,NaN,6 Sep 2020,[89],NaN
1,2,India,1366857671,NaN,6 Sep 2020,[citation needed],NaN
2,3,United States,330256598,NaN,6 Sep 2020,[90],NaN
3,4,Indonesia,265015300,3.39%,1 July 2018,[91],3.39
4,5,Pakistan,220875520,NaN,6 Sep 2020,[92],NaN
5,6,Brazil,212029554,NaN,6 Sep 2020,[93],NaN
6,7,Nigeria,208679114,2.41%,1 July 2019,[94],2.41
7,8,Bangladesh,169255202,NaN,6 Sep 2020,[95],NaN
8,9,Russia[note 5],146748590,1.88%,1 January 2020,[96],1.88
9,10,Mexico,126577691,1.62%,1 July 2019,[97],1.62

In [145]:
df_pop['pct_world_population'] = df_pop['pct_world_population'].astype('float')

In [146]:
df_pop['% of worldpopulation'] = df_pop['% of worldpopulation'].fillna('None')

In [147]:
df_pop

,Rank,Country / Territory,Population,% of worldpopulation,Date,Source,pct_world_population
0,1,China[note 4],1404309800,None,6 Sep 2020,[89],NaN
1,2,India,1366857671,None,6 Sep 2020,[citation needed],NaN
2,3,United States,330256598,None,6 Sep 2020,[90],NaN
3,4,Indonesia,265015300,3.39%,1 July 2018,[91],3.39
4,5,Pakistan,220875520,None,6 Sep 2020,[92],NaN
5,6,Brazil,212029554,None,6 Sep 2020,[93],NaN
6,7,Nigeria,208679114,2.41%,1 July 2019,[94],2.41
7,8,Bangladesh,169255202,None,6 Sep 2020,[95],NaN
8,9,Russia[note 5],146748590,1.88%,1 January 2020,[96],1.88
9,10,Mexico,126577691,1.62%,1 July 2019,[97],1.62

In [150]:
df_pop['pct_world_population'] = df_pop['pct_world_population']/100

In [152]:
df_pop.head()

,Rank,Country / Territory,Population,% of worldpopulation,Date,Source,pct_world_population
0,1,China[note 4],1404309800,None,6 Sep 2020,[89],NaN
1,2,India,1366857671,None,6 Sep 2020,[citation needed],NaN
2,3,United States,330256598,None,6 Sep 2020,[90],NaN
3,4,Indonesia,265015300,3.39%,1 July 2018,[91],0.0339
4,5,Pakistan,220875520,None,6 Sep 2020,[92],NaN

In [162]:
d = {x: x**2 for x in range(10)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [163]:
from collections import defaultdict

dd = defaultdict()

In [166]:
dd.update(d)
dd[5]

25

In [171]:
df.append?

In [176]:
a = {'a': [1,2,3], 'b': [4,5,6]}
b = {'a': [7,8,9], 'b': [20,21,22]}
df = pd.DataFrame(a)
df1 = pd.DataFrame(b)
df.append(df1)

   a   b
0  1   4
1  2   5
2  3   6
0  7  20
1  8  21
2  9  22