In [157]:
%logstop
%logstart -rtq ~/.logs/dw.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [3]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [4]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [5]:
import pandas as pd
import numpy as np
import gzip

In [84]:
# load the 2017 data
scripts = gzip.open('./dw-data/201701scripts_sample.csv.gz', 'rb')
scripts = pd.read_csv(scripts)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [7]:
script16 = gzip.open('./dw-data/201606scripts_sample.csv.gz', 'rb')
script16 = pd.read_csv(script16)
script16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [8]:
practices = gzip.open('./dw-data/practices.csv.gz', 'rb')
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
# practices = pd.read_csv(practices, header = None)
practices = pd.read_csv(practices, names = col_names)
# practices.columns = col_names
# practices.head()

In [9]:
chem = gzip.open('./dw-data/chem.csv.gz', 'rb')
chem = pd.read_csv(chem)
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [10]:
# %%timeit
# stats= scripts.describe()
# total = scripts [['items','quantity','nic','act_cost']].sum()
# stats.loc['total'] = [total['items'], total['nic'], total['act_cost'], total['quantity']]
# rows = [ 'total' , 'mean' , 'std', '25%' , '50%' ,'75%']

# summary_stats = [(stats.columns[x], tuple([stats[stats.columns[x]][i] for i in rows])) for x in range(4)]
# summary_stats

In [11]:
# %%timeit
def describe(key):
    items = pd.Series(scripts[key])
    items = (items.sum(),items.mean(),items.std(),items.quantile(.25),items.quantile(.5),items.quantile(.75))
    return(items)

summary_stats = [('items', describe('items')),
           ('quantity', describe('quantity')),
           ('nic', describe('nic')),
           ('act_cost', describe('act_cost'))]
# summary_stats

In [12]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [13]:
group_by_bnf = scripts.groupby('bnf_name')['items'].sum().sort_values(ascending=False)
group_by_bnf.head

<bound method NDFrame.head of bnf_name
Omeprazole_Cap E/C 20mg                     218583
Paracet_Tab 500mg                           151669
Aspirin Disper_Tab 75mg                     148591
Simvastatin_Tab 40mg                        132941
Amlodipine_Tab 5mg                          128245
                                             ...
Quest_Cell Life Antiox Tab                       1
Quest_Lactase Tab                                1
Juzo Soft Rib Style Class 1 B/Knee Close         1
Quetiapine_Oral Soln 12.5mg/5ml                  1
ReadyWrap Gauntlet Lymph Gmt                     1
Name: items, Length: 13471, dtype: int64>

In [14]:
most_common_item = [(group_by_bnf.idxmax(),group_by_bnf.max())]
most_common_item

[('Omeprazole_Cap E/C 20mg', 218583)]

In [2]:
# grader.score.dw__most_common_item(most_common_item)

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [16]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [17]:
practices['code'].count()

12020

In [18]:
practices['code'].nunique()

10843

In [19]:
# practices_unique = practices.sort_values('post_code').drop_duplicates(subset = 'code', keep = 'first')
# practices_unique.head()

In [20]:
practices_unique = practices.sort_values('post_code').groupby('code').first()
# practices_unique.head()

In [21]:
# script_post_inner = scripts.merge(practices_unique, left_on = 'practice', right_on = 'code')
# script_post_inner.shape[0]

In [22]:
script_post_left = scripts.merge(practices_unique, left_on = 'practice', right_on = 'code', how = 'left')
script_post_left.shape[0]

973193

In [23]:
# np.all(script_post_left == script_post_inner)

In [24]:
# script_post_left.head()

In [25]:
total = script_post_left.groupby(['post_code', 'bnf_name'])['items'].sum().reset_index().sort_values('items', ascending = False)
# total.head()

In [26]:
postal_total = total.groupby('post_code')['items'].sum().rename('total').reset_index()
# postal_total.head()

In [27]:
# totals = total.set_index('post_code').assign(total = postal_total) #alternative
totals = total.merge(postal_total, on = 'post_code', how = 'left')
totals.head()

  post_code                       bnf_name  items   total
0  SK11 6JL        Omeprazole_Cap E/C 20mg   3219  112283
1   FY4 1TJ        Omeprazole_Cap E/C 20mg   2838   65475
2   FY2 0JG        Omeprazole_Cap E/C 20mg   2623   72306
3   PL7 1AD        Omeprazole_Cap E/C 20mg   2509   69105
4    N9 0TW  Influenza_Vac Inact 0.5ml Pfs   2384   33741

In [28]:
totals['rate'] = totals['items']/totals['total']
totals.head()

  post_code                       bnf_name  items   total      rate
0  SK11 6JL        Omeprazole_Cap E/C 20mg   3219  112283  0.028669
1   FY4 1TJ        Omeprazole_Cap E/C 20mg   2838   65475  0.043345
2   FY2 0JG        Omeprazole_Cap E/C 20mg   2623   72306  0.036276
3   PL7 1AD        Omeprazole_Cap E/C 20mg   2509   69105  0.036307
4    N9 0TW  Influenza_Vac Inact 0.5ml Pfs   2384   33741  0.070656

In [29]:
# totals[totals['rate'] == totals['rate'].max()]

In [30]:
# totals.sort_values('rate', ascending = False).iloc[0]

In [31]:
# totals.nlargest(1, 'rate')
# result.set_index?

In [32]:
result = totals.groupby('post_code').apply(lambda df: df.nlargest(1,'rate'))
result.head()

,,post_code,bnf_name,items,total,rate
post_code,,,,,,
B11 4BW,634,B11 4BW,Salbutamol_Inha 100mcg (200 D) CFF,706,22731,0.031059
B12 9LP,2214,B12 9LP,Paracet_Tab 500mg,425,17073,0.024893
B18 7AL,1154,B18 7AL,Salbutamol_Inha 100mcg (200 D) CFF,556,20508,0.027111
B21 9RY,185,B21 9RY,Metformin HCl_Tab 500mg,1033,31027,0.033294
B23 6DJ,957,B23 6DJ,Lansoprazole_Cap 30mg (E/C Gran),599,28011,0.021384

In [33]:
results = result.reset_index(drop = True)
results.head()

  post_code                            bnf_name  items  total      rate
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF    706  22731  0.031059
1   B12 9LP                   Paracet_Tab 500mg    425  17073  0.024893
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF    556  20508  0.027111
3   B21 9RY             Metformin HCl_Tab 500mg   1033  31027  0.033294
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)    599  28011  0.021384

In [34]:
results.drop(['items','total'], axis = 1, inplace = True)
# results.head()
items_by_region = results[:100]
# items_by_region

In [35]:
# items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.0310589063)] * 100

In [36]:
# grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [37]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [38]:
chem = chem.sort_values('NAME').drop_duplicates(subset = 'CHEM SUB', keep = 'first')
# chem.shape[0]
# scripts.head()

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [39]:
ind = chem['NAME'].apply(lambda x: any([opioid in x.lower() for opioid in opioids]))
# chem[ind]

In [40]:
my_opioids = '|'.join(opioids)
# my_opioids

In [41]:
chem['is_opioid'] = chem['NAME'].str.lower().str.contains(my_opioids)
chem.head()

       CHEM SUB                            NAME  is_opioid
882   0403040M0             5-Hydroxytryptophan      False
2910  1305020M0               5-Methoxypsoralen      False
1359  0503010E0                        Abacavir      False
1378  0503010Z0           Abacavir & Lamivudine      False
1360  0503010F0  Abacavir/Lamivudine/Zidovudine      False

In [42]:
script_w_chem = scripts.merge(chem, left_on='bnf_code', right_on='CHEM SUB', how = 'left').fillna(False)

In [43]:
# script_w_chem.head()
# script_w_chem['is_opioid'].isna().sum()

In [44]:
# script_w_chem[script_w_chem['is_opioid'].isna()]

In [45]:
opioids_per_practice = script_w_chem.groupby('practice')['is_opioid'].mean()
opioids_per_practice.head()

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
Name: is_opioid, dtype: float64

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [46]:
relative_opioids_per_practice = opioids_per_practice - script_w_chem['is_opioid'].mean()
# relative_opioids_per_practice.reset_index().head()

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [47]:
# count_per_practice = script_w_chem.groupby('practice')['is_opioid'].count()
count_per_practice = script_w_chem['practice'].value_counts()
# count_per_practice

In [48]:
sigma = script_w_chem['is_opioid'].std()
sigma

0.18579817605238425

In [49]:
standard_error_per_practice = sigma/(count_per_practice**0.5)
# standard_error_per_practice

In [50]:
opioid_scores = relative_opioids_per_practice/standard_error_per_practice
# opioid_scores.reset_index().head()

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [122]:
unique_practices = practices.sort_values('name').drop_duplicates(subset='code', keep = 'first')
unique_practices = unique_practices.set_index('code')

In [123]:
unique_practices['z_score'] = opioid_scores
unique_practices['counts'] = count_per_practice
unique_practices.head()

,name,addr_1,addr_2,borough,village,post_code,z_score,counts
code,,,,,,,,
P87657,(IRLAM) SALFORD CARE CTRS MEDICAL PRACTI,SALFORD CARE CTR(IRLAM),125 LIVERPOOL ROAD,IRLAM,MANCHESTER,M44 6DP,NaN,NaN
Y05381,0-19 EAST CHESHIRE HEALTH VISITORS,SALINAE CLINIC,LEWIN STREET,MIDDLEWICH,CHESHIRE,CW10 9FG,NaN,NaN
Y04082,0-19 PUBLIC HEALTH SERVICE HARTLEPOOL,CHATHAM CHILDRENS CENTRE,29 CHATHAM ROAD,HARTLEPOOL,NaN,TS24 8QG,NaN,NaN
Y00364,1 TO 1 CENTRE,BRENKLEY AVENUE,SHIREMOOR,NEWCASTLE UPON TYNE,NaN,NE27 0PR,NaN,NaN
P87652,1/LOWER BROUGHTON MEDICAL PRACTICE,LOWER BROUGHTON HTH.CTR.,GREAT CLOWES STREET,SALFORD,NaN,M7 1RD,2.435637,1044.0

In [53]:
# anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100
anomalies = unique_practices[['name', 'z_score', 'counts']].sort_values('z_score', ascending = False)
anomalies.head()

                                   name    z_score  counts
code
Y01852        NATIONAL ENHANCED SERVICE  11.695818     7.0
Y03006         OUTREACH SERVICE NH / RH   7.339043     2.0
Y03668  BRISDOC HEALTHCARE SERVICES OOH   6.150582    60.0
G81703           H&R P C SPECIAL SCHEME   5.123032    36.0
Y04997                   HMR BARDOC OOH   4.958866   321.0

In [112]:
grader.score.dw__script_anomalies(anomalies.head(100))

==================
Your score:  1.0
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [55]:
script16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [56]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [57]:
script16.groupby('bnf_name')['items'].count()

bnf_name
365 Film 15cm x 20cm VP Adh Film Dress      1
365 Film 4cm x 5cm VP Adh Film Dress        1
365 Non Adherent 10cm x 10cm Pfa Plas Fa    3
365 Non Woven Island 10cm x 10cm Adh Dre    1
365 Non Woven Island 10cm x 15cm Adh Dre    1
                                           ..
nSpire PiKo-1 Stnd Range Peak Flow Meter    2
nSpire Pocket Peak Low Range Peak Flow M    2
nSpire Pocket Peak Stnd Range Peak Flow     2
oraNurse_Toothpaste Orig (1450ppm)          2
palmdoc (Reagent)_Strips                    3
Name: items, Length: 13540, dtype: int64

In [58]:
growth = (scripts['bnf_name'].value_counts() / script16['bnf_name'].value_counts()) - 1

In [59]:
growth = growth.rename('percent_growth')

In [60]:
growth_df = growth.to_frame()
growth_df['raw_counts'] = script16['bnf_name'].value_counts()
growth_df.head()

                                          percent_growth  raw_counts
365 Film 10cm x 12cm VP Adh Film Dress               NaN         NaN
365 Film 15cm x 20cm VP Adh Film Dress               NaN         1.0
365 Film 4cm x 5cm VP Adh Film Dress                 NaN         1.0
365 Non Adherent 10cm x 10cm Pfa Plas Fa             0.0         3.0
365 Non Adherent 10cm x 20cm Pfa Plas Fa             NaN         NaN

In [61]:
# growth_df[growth_df['raw_counts']>= 50]

In [62]:
growth_df = (growth_df.query('raw_counts >= 50')
             .dropna().reset_index()
             .rename({'index':'bnf_name'}, axis=1)
             .sort_values('percent_growth'))
# growth_df

In [63]:
df_growth = (growth
             .rename('percent_growth')
             .to_frame()
             .assign(raw_counts = script16['bnf_name'].value_counts())
             .query('raw_counts >= 50')
             .reset_index()
             .rename({'index':'bnf_name'}, axis=1)
             .sort_values('percent_growth', ascending = False)
             .dropna())
# df_growth.head()

In [64]:
# df_growth.tail(50)

In [65]:
script_growth = pd.concat([df_growth.head(50), df_growth.tail(50)])
# script_growth

In [66]:
# script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [67]:
grader.score.dw__script_growth(script_growth)

==================
Error!
You have been rate limited for exceeding the limit of 3 per 1 minute.
Please slow down your submission rate.
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [78]:
# we will call a drug rare if it's frequency is less than 0.1p
p = 1 / scripts['bnf_code'].nunique()
# p

In [79]:
rates = scripts['bnf_code'].value_counts() / scripts.shape[0]
# rates
rare_codes = rates < 0.1 * p
# rare_codes

In [85]:
scripts = (scripts
           .set_index('bnf_code')
           .assign(rare = rare_codes)
           .reset_index())
scripts.head()

,bnf_code,practice,bnf_name,items,nic,act_cost,quantity,rare
0,0106020C0,N85639,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,0106040M0,N85639,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,0301011R0,N85639,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,0304010G0,N85639,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,0401020K0,N85639,Diazepam_Tab 2mg,1,0.16,0.26,6,False

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [94]:
rare_total = (scripts.query('rare==True')
              .groupby('practice')['act_cost']
              .sum())
all_total =  scripts.groupby('practice')['act_cost'].sum()

In [97]:
rare_cost_prop = (rare_total / all_total).fillna(0)
# rare_cost_prop

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [109]:
relative_rare_cost_prop = rare_cost_prop - (scripts.query('rare == True')['act_cost'].sum()/scripts['act_cost'].sum())

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [110]:
standard_errors = relative_rare_cost_prop.std()

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [153]:
rare_scores = (relative_rare_cost_prop / standard_errors).rename('rare_score')
rare_scores

practice
A81005   -0.065216
A81007   -0.125308
A81011   -0.179263
A81012   -0.036615
A81017   -0.142190
            ...
Y05570   -0.263811
Y05583   -0.263811
Y05597   -0.263811
Y05660   -0.258473
Y05670   -0.263811
Name: rare_score, Length: 856, dtype: float64

In [124]:
unique_practices = unique_practices.reset_index()
unique_practices.head()

,code,name,addr_1,addr_2,borough,village,post_code,z_score,counts
0,P87657,(IRLAM) SALFORD CARE CTRS MEDICAL PRACTI,SALFORD CARE CTR(IRLAM),125 LIVERPOOL ROAD,IRLAM,MANCHESTER,M44 6DP,NaN,NaN
1,Y05381,0-19 EAST CHESHIRE HEALTH VISITORS,SALINAE CLINIC,LEWIN STREET,MIDDLEWICH,CHESHIRE,CW10 9FG,NaN,NaN
2,Y04082,0-19 PUBLIC HEALTH SERVICE HARTLEPOOL,CHATHAM CHILDRENS CENTRE,29 CHATHAM ROAD,HARTLEPOOL,NaN,TS24 8QG,NaN,NaN
3,Y00364,1 TO 1 CENTRE,BRENKLEY AVENUE,SHIREMOOR,NEWCASTLE UPON TYNE,NaN,NE27 0PR,NaN,NaN
4,P87652,1/LOWER BROUGHTON MEDICAL PRACTICE,LOWER BROUGHTON HTH.CTR.,GREAT CLOWES STREET,SALFORD,NaN,M7 1RD,2.435637,1044.0

In [162]:
output =  unique_practices.merge(rare_scores, left_on='code', right_index=True)
# output = (unique_practices
#          .set_index('code')
#          .assign(rare_score = rare_scores)
#          .reset_index())
# output.dropna(inplace=True)

In [163]:
output.head()

,code,name,addr_1,addr_2,borough,village,post_code,z_score,counts,rare_score
4,P87652,1/LOWER BROUGHTON MEDICAL PRACTICE,LOWER BROUGHTON HTH.CTR.,GREAT CLOWES STREET,SALFORD,NaN,M7 1RD,2.435637,1044.0,-0.156754
13,P87020,2/ST ANDREWS MEDICAL PRACTICE,ST.ANDREWS MEDICAL CENTRE,30 RUSSELL STREET ECCLES,MANCHESTER,NaN,M30 0NU,0.272972,1372.0,-0.195493
17,P87654,3/LOWER BROUGHTON MEDICAL PRACTICE,LOWER BROUGHTON HTH.CTR.,GREAT CLOWES STREET,SALFORD,NaN,M7 1RD,1.212546,1360.0,-0.216661
19,P87659,3/ST ANDREWS MEDICAL CENTRE,ST.ANDREWS MEDICAL CENTRE,30 RUSSELL STREET ECCLES,MANCHESTER,NaN,M30 0NU,1.103041,1044.0,0.001856
23,P87036,4/LOWER BROUGHTON MEDICAL PRACTICE,LOWER BROUGHTON HTH.CTR.,GREAT CLOWES STREET,SALFORD,MANCHESTER,M7 1RD,-0.000505,838.0,-0.087263

In [167]:
final_result = (output[['code', 'name', 'rare_score']]
                .sort_values('rare_score',ascending=False))
final_result

        code                               name  rare_score
2192  Y03472           CONSULTANT DIABETES TEAM   16.262687
2661  Y05320     DMC COMMUNITY DERMATOLOGY RBWF   15.128648
6789  Y04404  OUTPATIENTS JUBILEE HEALTH CENTRE    7.542139
2659  Y03484   DMC COMMUNITY DERMATOLOGY CLINIC    7.287222
2668  Y04424                     DMC HEALTHCARE    6.838614
...      ...                                ...         ...
2560  P81793                 DERMATOLOGY CLINIC   -0.263811
2575  Y04495          DERMATOLOGY GPSI (SUTTON)   -0.263811
2608  Y01943               DEWSBURY MSK SERVICE   -0.263811
2611  Y04426   DGS OOH (INTEGRATED CARE 24 LTD)   -0.263811
5347  Y04922                LCW HAM+FUL CCG OOH   -0.263811

[856 rows x 3 columns]

In [165]:
rare_scripts=final_result[:100]

In [107]:
# rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [166]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*